#tsb-ani-logo{

	path, line{
		fill:transparent;
		opacity: 1;
		stroke-width:6px;
		stroke-linejoin:round;
		stroke-linecap: round;
	}

	path{
		stroke:transparent;
	}

	.edge{
		stroke:#6ECDF5;
	}

	.hedge{
		stroke:#E60433;
	}
}